.btn-xs {
    @include button-size($btn-padding-y-sm * 0.25, $btn-padding-x-sm * 0.8333, 0.75rem, $btn-border-radius-sm * 0.666);
}

.btn-clear-history {
    @extend .btn;
    @extend .btn-outline-secondary;
    @extend .btn-xs;
    float: right;
}
