.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100dvh - var(--typicms-navbar-height));
    @include media-breakpoint-up(lg) {
        padding: $spacer;
    }
}
