@use 'bootstrap/scss/bootstrap' as bs;
@use '../tools' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'body';
@use 'header';

@layer custom {
    .filemanager {
        @extend .body;

        &-header {
            @extend .header;
            &-bordered {
                @extend .header-bordered;
            }
            &-top {
                @extend .header-top;
            }
            &-title {
                @extend .header-title;
            }
            &-toolbar {
                @extend .header-toolbar;
            }
        }

        &-dialog {
            --dialog-width: calc(100% - 6rem);
            height: 90vh;
        }

        .dialog & {
            border: none;
            @include media-breakpoint-down(lg) {
                border-radius: $card-border-radius;
            }
        }

        .dialog &-header {
            @include bordered-card-edge(top);
            top: 0 !important;
            &-top {
                margin-bottom: 0.75rem;
            }
        }

        .dialog &-header-top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .dialog &-title {
            @extend .header-title;
            font-size: $font-size-lg;
            line-height: 1.5;
            margin-bottom: 0;
        }

        .dialog &-list {
            margin-left: 0;
            margin-right: 0;
        }

        &-body {
            padding: $spacer;
            overflow-y: auto;
        }

        &-btn-add {
            @extend .btn-solid;
            @extend .theme-primary;
        }

        &-field-btn-add {
            @extend .btn-solid;
            @extend .theme-secondary;
            @extend .btn-sm;
            display: flex;
            align-items: center;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            user-select: none;
            -webkit-user-select: none;
            gap: $spacer;
            &-horizontal {
                gap: $spacer * 0.5;
                margin-bottom: $spacer;
            }
        }

        &-item {
            --filemanager-item-thumb-size: 135px;
            --filemanager-item-thumb-size-sm: 60px;
            --filemanager-item-border-width: 1px;
            position: relative;
            width: var(--filemanager-item-thumb-size);
            height: var(--filemanager-item-thumb-size);
            font-size: 0.75rem;
            text-align: center;

            &-with-name {
                height: 194px;
            }

            &-horizontal {
                height: auto;
                text-align: left;
                width: 100%;
                font-size: 0.875rem;
                text-wrap: balance;
            }

            &-horizontal &-wrapper {
                flex-direction: row;
                align-items: center;
                gap: $spacer * 0.5;
                padding-bottom: 0;
            }
            &-horizontal &-icon {
                width: var(--filemanager-item-thumb-size-sm);
                height: var(--filemanager-item-thumb-size-sm);
            }
            &-horizontal &-image {
                max-width: calc(var(--filemanager-item-thumb-size-sm) - var(--filemanager-item-border-width) * 2);
                max-height: calc(var(--filemanager-item-thumb-size-sm) - var(--filemanager-item-border-width) * 2);
            }

            &-editable {
                position: relative;

                &:hover &-button,
                &:focus &-button {
                    display: flex;
                }

                &-button {
                    @extend .btn-outline;
                    @extend .theme-primary;
                    @extend .btn-xs;
                    @extend .rounded-pill;
                    --btn-border-color: var(--fg-body);
                    --btn-color: var(--fg-body);
                    --btn-bg: var(--bg-body);
                    display: none;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    pointer-events: auto;
                }
            }

            &-removable {
                display: inline-block;
                position: relative;

                &-button {
                    flex-shrink: 0;
                    margin-inline-start: auto;
                    pointer-events: auto;
                }

                &:not(:hover) &-button:not(:focus-visible) {
                    opacity: 0;
                }
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                height: 100%;
                border-radius: calc(var(--radius-5) * 1.625);
                padding-bottom: 10px;
                overflow: hidden;
                pointer-events: none;
                border: var(--filemanager-item-border-width) solid transparent;
            }

            &-selected &-wrapper,
            &-over &-wrapper {
                background-color: var(--bg-2);
                border-color: var(--border-color);
            }

            &-name {
                margin: 0 3px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                overflow-wrap: break-word;
            }

            &-image {
                background-color: var(--bg-3);
                max-width: 120px;
                max-height: 120px;
                border-radius: var(--radius-7);
                border: 1px solid var(--border-color);
                &[src$='.svg'] {
                    width: 100%;
                }
            }

            &-icon {
                height: calc(var(--filemanager-item-thumb-size) - var(--filemanager-item-border-width) * 2);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-dragging-source {
                opacity: 0.4;
            }
        }
    }

    .filemanager-view-list {
        gap: 0;
        .filemanager-item {
            width: 100%;
            text-align: left;
            margin: 0;
            font-size: 0.875rem;

            &:hover,
            &:focus {
                background-color: var(--bg-2);
            }

            &-with-name {
                height: auto;
            }

            &-editable {
                &-button {
                    position: static;
                }
            }

            &-wrapper {
                display: flex;
                align-items: center;
                flex-direction: row;
                border-bottom: 1px solid var(--border-color);
                padding: 0 10px 0 0;
                border-radius: 0;
            }

            &-selected .filemanager-item-wrapper,
            &-over .filemanager-item-wrapper {
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
            }

            &-name {
                flex-grow: 1;
            }

            &-icon {
                flex-shrink: 0;
                width: 55px;
                height: 55px;
                padding: 10px;
            }

            &-image {
                max-width: 40px;
                max-height: 40px;
                border-radius: var(--radius-3);
                overflow: hidden;
                border: none;
            }
        }
    }
}
