.filemanager {
    @extend .main-content;
    display: flex;
    flex-direction: column;

    &-modal {
        &-dialog {
            --bs-modal-width: calc(100% - 6rem);
            height: 90vh;
        }
        &-content {
            height: 100%;
        }
    }

    .modal & {
        background-color: transparent;
        overflow: hidden;
        margin: 0;
        border: none;
        @include media-breakpoint-down(lg) {
            border-radius: $modal-content-border-radius;
        }
    }

    .modal &-header {
        top: 0 !important;
        background-color: transparent;
        &-top {
            margin-bottom: 0.75rem;
        }
    }

    .modal &-header-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .modal &-title {
        @extend .fs-5;
        line-height: $modal-title-line-height;
        margin-bottom: 0;
    }

    .modal &-list {
        margin-left: 0;
        margin-right: 0;
    }

    &-body {
        padding: $spacer;
        overflow-y: auto;
    }

    &-btn-add {
        @extend .btn;
        @extend .btn-primary;
    }

    &-field-btn-add {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-secondary;
        display: flex;
        align-items: center;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        user-select: none;
        -webkit-user-select: none;
        gap: $spacer;
        &-horizontal {
            gap: $spacer * 0.5;
            margin-bottom: $spacer;
        }
    }

    &-item {
        --filemanager-item-thumb-size: 135px;
        --filemanager-item-thumb-size-sm: 60px;
        --filemanager-item-border-width: 1px;
        position: relative;
        width: var(--filemanager-item-thumb-size);
        height: var(--filemanager-item-thumb-size);
        font-size: 0.75rem;
        text-align: center;

        &-with-name {
            height: 194px;
        }

        &-horizontal {
            height: auto;
            text-align: left;
            width: 100%;
            font-size: 0.875rem;
            text-wrap: balance;
            .filemanager-item-removable-button {
                top: 50%;
                margin-top: -0.75rem;
            }
        }

        &-horizontal &-wrapper {
            flex-direction: row;
            align-items: center;
            gap: $spacer * 0.5;
            padding-bottom: 0;
        }
        &-horizontal &-icon {
            width: var(--filemanager-item-thumb-size-sm);
            height: var(--filemanager-item-thumb-size-sm);
        }
        &-horizontal &-image {
            max-width: calc(var(--filemanager-item-thumb-size-sm) - var(--filemanager-item-border-width) * 2);
            max-height: calc(var(--filemanager-item-thumb-size-sm) - var(--filemanager-item-border-width) * 2);
        }

        &-editable {
            position: relative;

            &:hover &-button,
            &:focus &-button {
                display: flex;
            }

            &-button {
                @extend .btn;
                @extend .btn-xs;
                @extend .btn-outline-primary;
                @extend .rounded-pill;
                --bs-btn-border-color: var(--bs-body-color);
                --bs-btn-color: var(--bs-body-color);
                --bs-btn-bg: var(--bs-body-bg);
                display: none;
                position: absolute;
                right: 5px;
                top: 5px;
                pointer-events: auto;
            }
        }

        &-removable {
            display: inline-block;
            position: relative;

            &:hover &-button,
            &:focus &-button {
                display: flex;
            }

            &-button {
                @extend .btn;
                @extend .btn-xs;
                @extend .btn-outline-primary;
                @extend .rounded-pill;
                --bs-btn-border-color: var(--bs-body-color);
                --bs-btn-color: var(--bs-body-color);
                --bs-btn-bg: var(--bs-body-bg);
                display: none;
                position: absolute;
                right: 5px;
                top: 5px;
                pointer-events: auto;
                padding: 0;
                height: 1.5rem;
                width: 1.5rem;
                align-items: center;
                justify-content: center;
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            border-radius: calc(var(--bs-border-radius) * 1.625);
            padding-bottom: 10px;
            overflow: hidden;
            pointer-events: none;
            border: var(--filemanager-item-border-width) solid transparent;
        }

        &-selected &-wrapper,
        &-over &-wrapper {
            background-color: var(--bs-tertiary-bg);
            border-color: var(--bs-border-color);
        }

        &-name {
            margin: 0 3px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            overflow-wrap: break-word;
        }

        &-image {
            background-color: var(--bs-secondary-bg);
            max-width: 120px;
            max-height: 120px;
            border-radius: var(--bs-border-radius);
            border: 1px solid var(--bs-border-color);
            &[src$='.svg'] {
                width: 100%;
            }
        }

        &-icon {
            height: calc(var(--filemanager-item-thumb-size) - var(--filemanager-item-border-width) * 2);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-dragging-source {
            opacity: 0.4;
        }
    }
}
.filemanager-view-list {
    gap: 0;
    .filemanager-item {
        width: 100%;
        text-align: left;
        margin: 0;
        font-size: 0.875rem;

        &:hover,
        &:focus {
            background-color: var(--bs-tertiary-bg);
        }

        &-with-name {
            height: auto;
        }

        &-editable {
            &-button {
                position: static;
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            flex-direction: row;
            border-bottom: 1px solid var(--bs-border-color);
            padding: 0 10px 0 0;
            border-radius: 0;
        }

        &-selected .filemanager-item-wrapper,
        &-over .filemanager-item-wrapper {
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }

        &-name {
            flex-grow: 1;
        }

        &-icon {
            flex-shrink: 0;
            width: 55px;
            height: 55px;
            padding: 10px;
        }

        &-image {
            max-width: 40px;
            max-height: 40px;
            border-radius: var(--bs-border-radius-sm);
            overflow: hidden;
            border: none;
        }
    }
}
