.header {
    @extend .card-header;
    @include media-breakpoint-down(lg) {
        border-radius: 0 !important;
    }
    &-bordered {
        @include media-breakpoint-up(lg) {
            @include bordered-card-edge(top);
        }
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $card-cap-padding-y * 0.75;
        gap: $spacer * 0.5;
    }
    &-toolbar {
        @extend .btn-toolbar;
        gap: $spacer * 0.5;
    }
    &-title {
        white-space: nowrap;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }
}
