.header {
    @extend .card-header;
    &-bordered {
        @include media-breakpoint-up(lg) {
            border-radius: ($card-border-radius - 0.25rem) ($card-border-radius - 0.25rem) $border-radius $border-radius;
            border: var(--bs-card-border-width) solid var(--bs-card-border-color);
            margin: 0.25rem 0.25rem 0 0.25rem;
            &:first-child {
                border-radius: ($card-border-radius - 0.2rem) ($card-border-radius - 0.2rem) $border-radius $border-radius;
            }
        }
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $card-cap-padding-y * 0.75;
        gap: $spacer * 0.5;
    }
    &-toolbar {
        @extend .btn-toolbar;
        gap: $spacer * 0.5;
    }
    &-title {
        white-space: nowrap;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }
}
