.item-list {
    @extend .body;
    &-header {
        @extend .header;
        &-bordered {
            @extend .header-bordered;
        }
        &-top {
            @extend .header-top;
        }
        &-title {
            @extend .header-title;
        }
        &-toolbar {
            @extend .header-toolbar;
        }
    }
    &-body {
        @extend .card-body;
        overflow: auto;
    }
    &.sub-list {
        border-radius: var(--bs-border-radius);
        border-width: 1px;
    }
    &.sub-list &-header {
        border-radius: 0;
    }
}
