@use 'bootstrap/scss/bootstrap' as bs;
@use 'body';
@use 'header';

@layer custom {
    .item-list {
        @extend .body;
        &-header {
            @extend .header;
            &-bordered {
                @extend .header-bordered;
            }
            &-top {
                @extend .header-top;
            }
            &-title {
                @extend .header-title;
            }
            &-toolbar {
                @extend .header-toolbar;
            }
        }
        &-body {
            @extend .card-body;
            overflow: auto;
        }
        &.sub-list {
            border-radius: var(--radius-5);
            border-width: 1px;
        }
        &.sub-list &-header {
            border-radius: 0;
        }
    }
}
