@font-face {
    font-family: 'lucide';
    src: url('../../fonts/lucide-subset.woff2?t=1751036098915') format('woff2');
}

.lucide-icon {
    font-family: 'lucide' !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^='icon-'],
[class*=' icon-'] {
    @extend .lucide-icon;
}

// Icon map
$lucide-icons: (
    'arrow-left': '\e048',
    'calendar-range': '\e2bd',
    'chevron-down': '\e06d',
    'chevron-left': '\e06e',
    'chevron-right': '\e06f',
    'chevron-up': '\e070',
    'circle-plus': '\e081',
    'circle-user-round': '\e466',
    'cloud-upload': '\e091',
    'corner-right-down': '\e0a5',
    'eye': '\e0ba',
    'file': '\e0c0',
    'file-archive': '\e30d',
    'file-down': '\e31b',
    'file-image': '\e31d',
    'file-music': '\e562',
    'file-text': '\e0cc',
    'file-video-camera': '\e32d',
    'folder': '\e0d7',
    'globe': '\e0e8',
    'grid-2x2': '\e503',
    'hash': '\e0ef',
    'house': '\e0f5',
    'image': '\e0f6',
    'key-round': '\e4a7',
    'lock': '\e10b',
    'map-pin': '\e111',
    'menu': '\e115',
    'message-square-more': '\e574',
    'move': '\e121',
    'newspaper': '\e34c',
    'pencil': '\e1f9',
    'search': '\e151',
    'settings': '\e154',
    'sheet': '\e157',
    'shield-user': '\e64b',
    'shuffle': '\e15e',
    'tag': '\e17f',
    'text-select': '\e3e2',
    'user': '\e19f',
    'users': '\e1a4',
    'x': '\e1b2',
    'circle-question-mark': '\e082',
);

// Generate icon classes
@each $name, $unicode in $lucide-icons {
    .icon-#{$name}::before {
        content: $unicode;
    }
}
