.modal {
    &-content {
        backdrop-filter: blur(1.5px);
        box-shadow:
            0 -0.5px 1px 0.5px #0004 inset,
            0 5px 10px #00000022;
    }
}
@include color-mode(dark) {
    .modal {
        &-content {
            border-color: #fff3;
        }
    }
}
