.preview-modal {
    &-dialog {
        --bs-modal-width: calc(100% - 6rem);
        height: 90vh;
    }
    &-content {
        height: 100%;
        overflow: hidden;
    }
    &-iframe {
        height: 100%;
    }
    &-btn-close {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }
}
