.right-column {
    background-color: color-mix(in oklab, var(--bs-tertiary-bg), white 60%);
    border: 1px solid var(--bs-border-color);
    padding: $spacer;
    border-radius: var(--bs-border-radius);
}
@include color-mode(dark) {
    .right-column {
        background-color: color-mix(in oklab, var(--bs-body-bg), black 7%);
    }
}
