.sl-vue-tree-next {
    position: relative;
    cursor: default;
    user-select: none;
}

.sl-vue-tree-next-root > .sl-vue-tree-next-nodes-list {
    position: relative;
}

.sl-vue-tree-next-selected > .sl-vue-tree-next-node-item {
    background-color: $light;
}

.sl-vue-tree-next-node-item {
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 28px;
    border: 1px solid transparent;
    border-top: 1px solid #ddd;
}

.sl-vue-tree-next-node-item.sl-vue-tree-next-cursor-inside {
    background-color: $gray-300;
    .title {
        cursor: default !important;
    }
}
.sl-vue-tree-next-node.sl-vue-tree-next-selected .sl-vue-tree-next-node-item.sl-vue-tree-next-cursor-inside {
    background-color: $light;
}

.sl-vue-tree-next-cursor {
    position: absolute;
    background-color: $gray-400;
    height: 3px;
    width: 100%;
    z-index: 9999;
    &:after {
        position: absolute;
        content: ' ';
        display: block;
        border: 8px solid $gray-400;
        left: 0;
        top: -7px;
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
}

.sl-vue-tree-next-gap {
    width: 25px;
    min-height: 1px;
    flex-shrink: 0;
}

.sl-vue-tree-next-toggle {
    position: absolute;
    cursor: pointer;
    left: -15px;
    top: 4px;
    color: $gray-600;
}

.sl-vue-tree-next-sidebar {
    margin-left: auto;
}

.sl-vue-tree-next-drag-info {
    position: absolute;
    background-color: $gray-700;
    opacity: 0.5;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    color: #fff;
}

.sl-vue-tree-next-title {
    display: flex;
    padding: 4px 0;
    align-items: center;
    min-width: 0; // Needed for text-overflow: ellipsis.
    div {
        margin: 0 2px;
    }
    .title {
        cursor: move;
        padding: 0 2px;
        border: 1px solid transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: 3px;
    }
}
