.tiptap-toolbar {
    display: flex;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 5px;
    z-index: 6;
    top: 199px;
    position: sticky;
}

.tiptap-separator {
    width: 1px;
    height: 20px;
    background-color: var(--bs-gray-300);
    margin: 0 5px;
}

.tiptap-button {
    @extend .btn;
    @include button-variant(transparent, transparent, $body-color, $gray-200, $gray-200, $body-color, $gray-300, $gray-300, $body-color, transparent, transparent, $gray-500);
    font-size: $font-size-sm;
    padding: 0.125rem 0.375rem;
    &.is-active {
        background-color: var(--bs-secondary-bg);
    }
    &:focus-visible {
        box-shadow: none;
    }
    .bubble-menu & {
        @include button-variant($white, $white, $body-color, $gray-200, $white, $body-color, $gray-300, $gray-300, $body-color, $white, $white, $gray-500);
    }
}

.tiptap-style-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@include color-mode(dark) {
    .tiptap-button {
        @include button-variant(transparent, transparent, $body-color-dark, transparent, $secondary, $body-color-dark, $secondary, $secondary, $body-color-dark, transparent, transparent, $secondary);
    }
    .bubble-menu .tiptap-button {
        @include button-variant($body-bg-dark, $secondary, $body-color-dark, $secondary-bg-subtle-dark, $white, $body-color-dark, $secondary, $secondary, $body-color-dark, $white, $white, $secondary);
    }
}

/* Basic editor styles */
.tiptap {
    @extend .form-control;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: $input-padding-y $input-padding-x;
    &:focus {
        box-shadow: 0 0 0 $focus-ring-width $focus-ring-color;
    }
    @extend .mb-3;
    min-height: 250px;
    overflow: auto;
    margin-top: 1.25rem;
    padding-top: 0.75rem;
    position: relative;

    :first-child {
        margin-top: 0;
    }

    ul,
    ol {
        li p {
            margin: 0;
        }
    }

    img {
        height: auto;
        max-width: 100%;
        width: 100%;
        &.ProseMirror-selectednode {
            box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;
        }
    }

    img.custom-size {
        width: revert-layer;
        height: auto;
        max-width: 100%;
    }

    code {
        background-color: var(--bs-gray-200);
        border-radius: 0.4rem;
        color: var(--bs-body-color);
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
    }

    pre {
        background: var(--bs-gray-200);
        border-radius: 0.5rem;
        color: var(--bs-body-color);
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
    }

    hr {
        border: none;
        border-top: 1px solid $gray-600;
        margin: $paragraph-margin-bottom 0;
    }

    table {
        @extend .table;
        td,
        th {
            border: 1px solid $gray-300;
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            > * {
                margin-bottom: 0;
            }
        }

        th {
            background-color: var(--bs-light);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: rgba($gray-400, 0.3);
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: var(--bs-primary);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    .alert a {
        @extend .alert-link;
    }

    [data-media-embed],
    [data-youtube-video] {
        margin-bottom: $paragraph-margin-bottom;
        iframe {
            aspect-ratio: 16 / 9;
            height: 100%;
            width: 100%;
        }
    }
}
