$gray-300: #dee2e6;
$gray-500: #adb5bd;
$gray-600: #6c757d;

$secondary: $gray-300;
$dark: $gray-600;

$link-decoration: none;

$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;

$table-group-separator-color: $gray-300;

$enable-validation-icons: false;

$pagination-padding-x: 0;
$pagination-padding-y: 0;
$pagination-border-width: 0;
$pagination-color: $dark;
$pagination-bg: transparent;
$pagination-hover-color: darken($dark, 20%);
$pagination-active-bg: $dark;
$pagination-disabled-color: $gray-500;
$pagination-disabled-bg: transparent;
$pagination-border-radius: $border-radius-sm;
