.files-list {
    @include list-unstyled;
    @include make-row;

    &-item {
        @include media-breakpoint-up(xs) {
            @include make-col(4);
        }
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }
        @include media-breakpoint-up(md) {
            @include make-col(2);
        }
        margin-bottom: $grid-gutter-width;
    }

    &-image-thumb {
        @include img-fluid;
    }

    &-document {
        text-align: center;
        display: block;
        border: 1px solid $gray-200;
        background-color: $gray-200;
        margin-bottom: $grid-gutter-width;
        padding: 20px 3px;

        &:hover {
            text-decoration: none;
        }

        &-filename {
            display: block;
            line-height: 16px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-filesize {
            font-size: 12px;
            color: $gray-400;
        }
    }
}
