$offcanvas-width: 100%;

.sidebar-offcanvas {
    @include media-breakpoint-down(sm) {
        background: #fff;
        bottom: 0;
        left: -$offcanvas-width;
        position: fixed;
        top: 0;
        transition: transform 0.3s ease-in-out;
        width: $offcanvas-width;
        z-index: 1001;
        padding: 1rem;
    }

    &.active {
        @include media-breakpoint-down(sm) {
            transform: translateX($offcanvas-width);
        }
    }
}

.btn-offcanvas {
    @extend .btn;
    @extend .btn-light;
    margin-top: 1rem;
    margin-right: 1rem;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 1000;
}
