.admin-buttons {
    position: relative;
    &-container {
        position: absolute;
        right: 0;
    }
    &-edit {
        @extend .btn;
        @include button-variant(rgba($yellow, 0.6), transparent, $primary, $yellow, transparent, $primary);
        @extend .rounded-pill;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.25rem;
    }
    &-logout {
        @extend .admin-buttons-edit;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
