.anchor-top {
    @extend .btn;
    @extend .btn-secondary;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 15px;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s;
    &.disabled {
        opacity: 0;
    }
    @include media-breakpoint-up(sm) {
        width: 50px;
        height: 50px;
        bottom: 30px;
        right: 30px;
    }
}
