.hamburger {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-link;
    @extend .rounded-pill;
    @include transition();
    padding: 0;
    z-index: 3000;
    position: relative;
    height: 50px;
    width: 50px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    &:focus-visible {
        @extend .focus-ring;
    }
    @include media-breakpoint-up(lg) {
        display: none;
    }
    &:before,
    &:after {
        @include transition();
        left: calc(50% - 13px);
        position: absolute;
        content: '';
        display: block;
        background-color: var(--bs-primary);
        height: 2px;
        width: 26px;
    }
    &:before {
        top: 20px;
    }
    &:after {
        bottom: 20px;
    }
    &-open {
        transform: rotate(45deg);
        &:focus-visible {
            @extend .focus-ring;
        }
        &:before {
            top: 24px;
            transform: rotate(-180deg);
        }
        &:after {
            bottom: 24px;
            transform: rotate(90deg);
        }
    }
}
