@font-face {
    font-family: 'lucide';
    src: url('../../fonts/lucide-subset.woff2?t=1751036098915') format('woff2');
}

.lucide-icon {
    font-family: 'lucide' !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^='icon-'],
[class*=' icon-'] {
    @extend .lucide-icon;
}

// Icon map
$lucide-icons: (
    'arrow-down': '\e042',
    'arrow-left': '\e048',
    'arrow-right': '\e049',
    'arrow-up': '\e04a',
    'calendar-range': '\e2bd',
    'chevron-down': '\e06d',
    'chevron-left': '\e06e',
    'chevron-right': '\e06f',
    'chevron-up': '\e070',
    'circle-plus': '\e081',
    'circle-user-round': '\e466',
    'corner-right-down': '\e0a5',
    'external-link': '\e0b9',
    'eye': '\e0ba',
    'file': '\e0c0',
    'file-archive': '\e30d',
    'file-down': '\e31b',
    'file-image': '\e31d',
    'file-music': '\e562',
    'file-text': '\e0cc',
    'file-video-camera': '\e32d',
    'globe': '\e0e8',
    'image': '\e0f6',
    'mail': '\e10f',
    'map-pin': '\e111',
    'menu': '\e115',
    'minus': '\e11c',
    'move': '\e121',
    'pencil': '\e1f9',
    'plus': '\e13d',
    'settings': '\e154',
    'text-select': '\e3e2',
    'user': '\e19f',
    'users': '\e1a4',
    'x': '\e1b2',
);

// Generate icon classes
@each $name, $unicode in $lucide-icons {
    .icon-#{$name}::before {
        content: $unicode;
    }
}
