.primary-nav {
    &-list {
        @extend .nav;
        flex-wrap: nowrap;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            margin-bottom: 0.5rem;
            margin-left: 1rem;
        }
    }
    &-dropdown {
        position: static !important;
        transform: none !important;
        padding-left: 1rem;
        @include media-breakpoint-up(lg) {
            padding-left: 0;
            filter: drop-shadow(0 2px 7px rgba($black, 0.1));
            text-align: center;
            left: 50% !important;
            transform: translateX(-50%) !important;
            top: 50px !important;
            position: absolute !important;
        }
        &.fade {
            @include media-breakpoint-up(lg) {
                display: block;
                opacity: 0;
                pointer-events: none;
            }
            .show > & {
                @include media-breakpoint-up(lg) {
                    pointer-events: auto;
                    opacity: 1;
                }
            }
        }
        &:before {
            @include media-breakpoint-up(lg) {
                position: absolute;
                top: -6px;
                left: calc(50% - 7px);
                margin: 0 auto;
                display: block;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 6px 7px;
                border-color: transparent transparent #ffffff transparent;
            }
        }
    }
    &-dropdown &-item:not(:last-child) {
        @include media-breakpoint-up(lg) {
            border-bottom: 1px solid $orange;
        }
    }
    &-item {
        @extend .nav-item;
        position: relative;
        @include media-breakpoint-down(lg) {
            margin: 0;
            transition: all 0.2s cubic-bezier(0.43, -0.01, 0.26, 1.04);
            opacity: 0;
            transform: translateY(5px);
            &:nth-child(1) {
                transition-delay: 0.2s;
            }
            &:nth-child(2) {
                transition-delay: 0.25s;
            }
            &:nth-child(3) {
                transition-delay: 0.3s;
            }
            &:nth-child(4) {
                transition-delay: 0.35s;
            }
            &:nth-child(5) {
                transition-delay: 0.4s;
            }
            &:nth-child(6) {
                transition-delay: 0.45s;
            }
            &:nth-child(7) {
                transition-delay: 0.5s;
            }
            &:nth-child(8) {
                transition-delay: 0.55s;
            }
            &:nth-child(9) {
                transition-delay: 0.6s;
            }
            &:nth-child(10) {
                transition-delay: 0.65s;
            }
        }
    }
    &-link {
        @extend .nav-link;
        color: $body-color;
        padding-top: 0.65rem;
        padding-bottom: 0.5rem;
        @include media-breakpoint-down(lg) {
            padding-left: 0;
            padding-right: 0;
        }
        &:after {
            color: $gray-400;
            position: relative;
            top: 3px;
            margin-left: 2px;
        }
        &:hover,
        &:focus {
            color: $black;
        }
    }
    &-item.active > &-link {
        @extend .active;
        color: $primary;
    }
}
