// swiper core styles
@import 'swiper/scss';

// modules styles
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

// @import 'swiper/scss/a11y';
@import 'swiper/scss/autoplay';
// @import 'swiper/scss/controller';

// @import 'swiper/scss/effect-coverflow';
// @import 'swiper/scss/effect-cube';
@import 'swiper/scss/effect-fade';
// @import 'swiper/scss/effect-flip';
// @import 'swiper/scss/effect-creative';
// @import 'swiper/scss/effect-cards';

// @import 'swiper/scss/free-mode';
// @import 'swiper/scss/grid';
// @import 'swiper/scss/hash-navigation';
// @import 'swiper/scss/history';
// @import 'swiper/scss/keyboard';
// @import 'swiper/scss/lazy';
// @import 'swiper/scss/manipulation';
// @import 'swiper/scss/mousewheel';
// @import 'swiper/scss/parallax';
// @import 'swiper/scss/scrollbar';
// @import 'swiper/scss/thumbs';
// @import 'swiper/scss/virtual';
// @import 'swiper/scss/zoom';

:root {
    --swiper-theme-color: #fff;
    --swiper-navigation-size: 40px;
}
