@layer custom {
    :root {
        --swiper-theme-color: #fff;
        --swiper-navigation-size: 24px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bottom: -40px;
        --swiper-pagination-color: #666;
    }
    .swiper-slide {
        -webkit-transform: translate3d(0, 0, 0); // Safari
    }
}
