.auth-background {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @include media-breakpoint-up(sm) {
        background-color: $gray-200;
    }
}

.container-login {
    .auth-container-title {
        @include visually-hidden;
    }
}

.auth-container {
    background-color: #fff;
    margin: 5vh auto 0;
    padding-top: 35px;
    max-width: 580px;
    @include media-breakpoint-up(sm) {
        box-shadow: $box-shadow;
        margin-top: 14vh;
        border-radius: 20px;
    }
    &-sm {
        max-width: 380px;
    }
    &-title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    &-form {
        padding: 35px;
    }

    &-back-to-website {
        display: flex;
        justify-content: center;
        &-link {
            font-size: 12px;
            position: absolute;
            margin-top: 20px;
            color: darken($gray-200, 30%);
        }
    }

    label {
        font-weight: normal;
        color: #666;
    }

    .form-control {
        background-color: $gray-200;
        border: 1px solid darken($gray-200, 2%);

        &:not(:focus) {
            box-shadow: none;
        }
    }

    .form-text {
        margin-bottom: 0;
        font-size: 12px;

        a {
            color: #aaa;
        }
    }

    &-logo {
        text-align: center;
        .logo {
            height: 40px;
            display: block;
            margin: 0 auto;
        }
    }

    .alert {
        border: none;
        border-radius: inherit;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .alert-not-a-member {
        margin-bottom: 0;
    }
}
