.typicms-navbar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
    background-color: #343a40 !important;
    line-height: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
    &-brand {
        font-size: 1.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        max-width: 50%;
    }
    .dropdown-user {
        font-size: 1rem;
        min-width: 300px;
        padding: 10px;
        right: 0px;
        left: auto;
        background-color: #fff;
        &-wrapper {
            display: flex;
        }
        .img {
            margin-right: 10px;
        }
    }
    .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}
