@import 'public/variables';
@import 'public/bootstrap';
@import 'public/lucide';
@import 'public/admin-buttons';
@import 'public/errors';
@import 'public/skip-to-content';

@import 'public/lang-switcher';
@import 'public/items-navigator';

@import 'public/buttons';

@import 'public/primary-nav';
@import 'public/social-nav';
@import 'public/footer-nav';
@import 'public/legal-nav';

@import 'public/header';
@import 'public/hamburger';
@import 'public/navigation';

@import 'public/page';
@import 'public/section-default';
@import 'public/share-links';
@import 'public/pagination';
@import 'public/document-list';
@import 'public/image-list';

@import '/node_modules/photoswipe/dist/photoswipe';
@import 'public/swiper';

@import 'public/footer';
@import 'public/anchor-top';

@media screen and (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }
}

table {
    @extend .table;
}

figure {
    @extend .figure;
    img {
        @extend .figure-img;
    }
    figcaption {
        @extend .figure-caption;
        margin-top: $paragraph-margin-bottom * 0.5;
    }
}

blockquote {
    color: var(--bs-gray-700);
    border-left: 5px solid var(--bs-gray-300);
    padding: 18px 25px 18px 22px;
    background-color: var(--bs-gray-100);
    quotes: '\201C' '\201D' '\2018' '\2019';
    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
        margin-left: -0.5rem;
    }
}

.rich-content {
    img {
        object-fit: cover;
        margin-bottom: $paragraph-margin-bottom;
        &:not(.custom-size) {
            width: 100%;
            height: auto;
        }
    }
    figure {
        margin-bottom: $paragraph-margin-bottom * 0.5;
        img {
            margin-bottom: 0;
        }
    }
    figure,
    img {
        border-radius: var(--bs-border-radius-lg);
        @each $direction, $opposite in (left: right, right: left) {
            &[style*='float:#{$direction}'],
            &[style*='float: #{$direction}'] {
                max-width: 40%;

                @include media-breakpoint-down(sm) {
                    float: none !important;
                    display: block;
                    max-width: 100%;
                }

                @include media-breakpoint-up(sm) {
                    margin-#{$opposite}: $paragraph-margin-bottom;
                }
            }
        }
    }
}

.required_mark {
    color: var(--bs-red);
}

[data-youtube-video],
[data-media-embed] {
    margin-bottom: $paragraph-margin-bottom;
    iframe {
        aspect-ratio: 16 / 9;
        height: 100%;
        width: 100%;
    }
}

.arrow-list li::marker {
    content: '→ ';
}

.alert a {
    @extend .alert-link;
}
