.filemanager
    margin-left: -10px
    margin-right: -10px

    &-item
        float: left
        width: 135px
        height: 160px
        display: flex
        overflow: hidden
        flex-direction: column
        align-items: center
        font-size: 12px
        text-align: center
        padding: 5px
        margin: 5px
        border-radius: 2px

        &-selected
            background-color: #ccc

        &-image
            max-width: 100%
            max-height: 100%
            padding: 2px
            border: 1px solid #ccc
            pointer-events: none
            border-radius: 3px

        &-icon
            width: 100px
            height: 100px
            display: flex
            flex-shrink: 0
            align-items: center
            justify-content: center
            margin-bottom: 5px

            &:before
                @extend .fa
                font-size: 80px

            &-a:before
                content: "\f1c7"

            &-v:before
                content: "\f1c8"

            &-d:before
                content: "\f016"

            &-f:before
                content: "\f07b"

        &-target
            opacity: 1

        &-over
            background-color: #ddd
