.filepicker

    &-modal
        @extend .typicms-modal

        &-open
            @extend .typicms-modal-open

        &-no-overlay:after
            display: none !important

        .wrapper
            @extend .typicms-modal-wrapper
            padding: 30px

    &-no-dropzone .dropzone
        display: none

    &-btn-close
        @extend .typicms-modal-btn-close

    &-btn-add
        @extend .typicms-modal-btn-add

    &-multiple .btn-add-multiple,
    &-single .btn-add-single
        display: block !important
