.filemanager
    +clearfix
    margin-left: -10px
    margin-right: -10px

    &-item
        float: left
        width: 135px
        max-height: 187px
        font-size: 12px
        text-align: center
        margin: 10px
        border-radius: 3px

        &-selected,
        &-over
            background-color: #ddd

        &-name
            margin: 0 5px 10px
            overflow: hidden
            text-overflow: ellipsis

        &-image
            max-width: 100%
            max-height: 100%
            padding: 2px
            border: 1px solid #ccc
            pointer-events: none
            border-radius: 3px
            background-color: #fff

        &-icon
            width: 135px
            height: 120px
            padding: 5px
            display: flex
            align-items: center
            justify-content: center

            &:before
                @extend .fa
                font-size: 80px

            &-a:before
                content: "\f1c7"

            &-v:before
                content: "\f1c8"

            &-d:before
                content: "\f016"

            &-f:before
                content: "\f07b"

        &-target
            opacity: 1
