.table-main {
    th {
        white-space: nowrap;
        border-top: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    td {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        vertical-align: middle !important;
        &.checkbox {
            padding-left: 0.55rem;
        }
    }

    .checkboxes,
    .checkbox,
    .delete {
        width: 30px;
        padding-left: 0;
    }

    .edit {
        width: 50px;
    }

    .position {
        width: 50px;
    }

    .status {
        width: 50px;
    }

    .image {
        width: 100px;
    }

    .date,
    .created_at,
    .updated_at,
    .start_date,
    .end_date {
        width: 160px;
    }

    .files {
        width: 70px;
    }

    .action {
        width: 120px;
    }

    .user_name .text-truncatable {
        width: 150px;
    }
}

.th-sort {
    cursor: pointer;
}

.th-sort:before {
    margin-right: 5px;
    color: $gray-400;
    font: normal normal normal 14px / 1 FontAwesome;
    content: $fa-var-sort;
}

.th-sort-asc:before {
    color: $gray-700;
    font: normal normal normal 14px / 1 FontAwesome;
    content: $fa-var-sort-asc;
}

.th-sort-desc:before {
    color: $gray-700;
    font: normal normal normal 14px / 1 FontAwesome;
    content: $fa-var-sort-desc;
}
